$heavy-bluegreen = #005757;
$bg-green = #D1E9E9;

body {
    background-color: $bg-green;
}

.posts-expand .post-title, .posts-expand .post-title-link {
  color: $heavy-bluegreen;
  font-weight: bold;
}

.exturl {
    color: #3D7878;
}